<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-30(%d{HH:mm:ss.SSS} [%thread]) %-5level %logger{32} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>C:/logs/webOTP.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>C:/logs/backup/webOTP.%d{yyyy-MM-dd-HH-mm}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="ru.otus.pw02.config.MongoConfig" level="INFO">
        <appender-ref ref="console"/>
        <appender-ref ref="fileAppender"/>
    </logger>

    <logger name="ru.otus.pw02.config.OtpServiceConfig" level="INFO">
        <appender-ref ref="console"/>
        <appender-ref ref="fileAppender"/>
    </logger>

    <logger name="ru.otus.pw02.config.ProcessRunnerConfig" level="INFO">
        <appender-ref ref="console"/>
        <appender-ref ref="fileAppender"/>
    </logger>

    <logger name="ru.otus.pw02.config.SocketServerConfig" level="INFO">
        <appender-ref ref="console"/>
        <appender-ref ref="fileAppender"/>
    </logger>

    <logger name="ru.otus.pw02.controller.RestController" level="INFO">
        <appender-ref ref="console"/>
        <appender-ref ref="fileAppender"/>
    </logger>

    <logger name="ru.otus.pw02.runner.ProcessRunnerImpl" level="INFO">
        <appender-ref ref="console"/>
        <appender-ref ref="fileAppender"/>
    </logger>

    <logger name="ru.otus.pw02.service.MqServiceImpl" level="INFO">
        <appender-ref ref="console"/>
        <appender-ref ref="fileAppender"/>
    </logger>

    <logger name="ru.otus.pw02.service.OtpServiceImpl" level="INFO">
        <appender-ref ref="console"/>
        <appender-ref ref="fileAppender"/>
    </logger>

    <logger name="ru.otus.pw02.service.UserDataServiceImpl" level="INFO">
        <appender-ref ref="console"/>
        <appender-ref ref="fileAppender"/>
    </logger>

    <logger name="ru.otus.pw02.sockets.SocketServerImpl" level="INFO">
        <appender-ref ref="console"/>
        <appender-ref ref="fileAppender"/>
    </logger>

    <logger name="ru.otus.pw.library.mq.MqHandlerImpl" level="INFO">
        <appender-ref ref="console"/>
        <appender-ref ref="fileAppender"/>
    </logger>

    <logger name="ru.otus.pw.library.misc.SerializeMessageTransport" level="INFO">
        <appender-ref ref="console"/>
        <appender-ref ref="fileAppender"/>
    </logger>

    <logger name="org.springframework.*" level="INFO">
        <appender-ref ref="console"/>
        <appender-ref ref="fileAppender"/>
    </logger>

</configuration>
