<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Actual OTP view</title>
    <style type="text/css">
        body {
            padding: 50px;
        }
        .otpView, .otpView td {
            border: 2px solid lightgray;
            padding: 5px;
        }
    </style>
</head>
<body>
<h1>Actual OTP view:</h1>
    <table class="otpView">
        <thead>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="instance : ${otpMap}">
                <td th:text="${instance.key}">keyValue</td>
                <td th:text="${instance.value}">num</td>
            </tr>
        </tbody>
    </table>
<br>
<p><a th:href="@{/admin/page}" href="adminPage.html">Admin page</a></p>
</body>
</html>
