<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>View list user data</title>
    <style type="text/css">
        body {
            padding: 50px;
        }
        .usersData, .usersData td {
            border: 2px solid lightgray;
            padding: 5px;
        }
    </style>
</head>
<body>
<h1>User Data:</h1>
    <table class="usersData">
        <thead>
            <tr>
                <th>ID</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>PhoneNumber</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${usersData}">
                <td th:text="${user.userID}"></td>
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.lastName}"></td>
                <td th:text="${user.phoneNumber}"></td>
            </tr>
        </tbody>
    </table>
<br>
<p><a th:href="@{/admin/page}" href="adminPage.html">Admin page</a></p>
</body>
</html>
