<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-30(%d{HH:mm:ss.SSS} [%thread]) %-5level %logger{32} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>C:/logs/telegram.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>C:/logs/backup/telegram.%d{yyyy-MM-dd-HH-mm}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="ru.otus.pw01.changesets.AllowedUserSets" level="INFO">
        <appender-ref ref="console"/>
        <appender-ref ref="fileAppender"/>
    </logger>

    <logger name="ru.otus.pw01.config.AllowedUserConfig" level="INFO">
        <appender-ref ref="console"/>
        <appender-ref ref="fileAppender"/>
    </logger>

    <logger name="ru.otus.pw01.config.MongoConfig" level="INFO">
        <appender-ref ref="console"/>
        <appender-ref ref="fileAppender"/>
    </logger>

    <logger name="ru.otus.pw01.config.SocketClientConfig" level="INFO">
        <appender-ref ref="console"/>
        <appender-ref ref="fileAppender"/>
    </logger>

    <logger name="ru.otus.pw01.config.TelegramConfig" level="INFO">
        <appender-ref ref="console"/>
        <appender-ref ref="fileAppender"/>
    </logger>

    <logger name="ru.otus.pw01.controller.TelegramController" level="INFO">
        <appender-ref ref="console"/>
        <appender-ref ref="fileAppender"/>
    </logger>

    <logger name="ru.otus.pw01.model.AllowedUser" level="INFO">
        <appender-ref ref="console"/>
        <appender-ref ref="fileAppender"/>
    </logger>

    <logger name="ru.otus.pw01.model.TelegramUser" level="INFO">
        <appender-ref ref="console"/>
        <appender-ref ref="fileAppender"/>
    </logger>

    <logger name="ru.otus.pw01.service.AllowedUserServiceImpl" level="INFO">
        <appender-ref ref="console"/>
        <appender-ref ref="fileAppender"/>
    </logger>

    <logger name="ru.otus.pw01.service.MqServiceImpl" level="INFO">
        <appender-ref ref="console"/>
        <appender-ref ref="fileAppender"/>
    </logger>

    <logger name="ru.otus.pw01.service.TelegramUserServiceImpl" level="INFO">
        <appender-ref ref="console"/>
        <appender-ref ref="fileAppender"/>
    </logger>

    <logger name="ru.otus.pw01.sokets.SocketClientImpl" level="INFO">
        <appender-ref ref="console"/>
        <appender-ref ref="fileAppender"/>
    </logger>

    <logger name="ru.otus.pw.library.mq.MqHandlerImpl" level="INFO">
        <appender-ref ref="console"/>
        <appender-ref ref="fileAppender"/>
    </logger>

    <logger name="ru.otus.pw.library.misc.SerializeMessageTransport" level="INFO">
        <appender-ref ref="console"/>
        <appender-ref ref="fileAppender"/>
    </logger>

    <logger name="org.springframework" level="INFO">
        <appender-ref ref="console"/>
        <appender-ref ref="fileAppender"/>
    </logger>

</configuration>
